# KKBox Customer Lifetime Value Analysis

---

# Part I: <font color=green>*Extraction, Transformation, and Loading*</font>

---

In [1]:
# General Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
import datetime

## Import and Prep Data

In [2]:
# Import Transaction Files
transactions0 = pd.read_csv('D:/J-5 Local/transaction0.csv')
transactions1 = pd.read_csv('D:/J-5 Local/transaction1.csv')
transactions2 = pd.read_csv('D:/J-5 Local/transaction2.csv')
transactions3 = pd.read_csv('D:/J-5 Local/transaction3.csv')
transactions4 = pd.read_csv('D:/J-5 Local/transaction4.csv')

# Concat all files into one
transactions = pd.concat([transactions0,transactions1,transactions2,transactions3,transactions4])

# Delete temp uploads
del transactions0
del transactions1
del transactions2
del transactions3
del transactions4

# Import Churn Files
churn_cluster = pd.read_csv('D:/J-5 Local/DRV_Jan2016_With_Cluster')

# Import Members Files
members = pd.read_csv('D:/J-5 Local/members.csv')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Convert Date columns into DateTime Object
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'])
transactions['membership_expire_date'] = pd.to_datetime(transactions['membership_expire_date'])
members['registration_init_time'] = pd.to_datetime(members['registration_init_time'])

As this the 3rd project with this dataset, we will simply be exploring data with respect to the use case of Survival Analysis and Customer Lifetime Value. Please refer to the previous projects if you wish to know more about the dataset as a whole.

The goal of this section is to prepare and format the dataset so that it is prepared for our Survival Analysis

### <font color=purple>Create Master DF</font>

In [4]:
# Create Master Dataset
clv_data_master = pd.merge(members, churn_cluster[['msno','is_churn','Cluster']], on='msno')

In [5]:
del members
del churn_cluster

In [6]:
clv_data_master.head()

,msno,city,bd,gender,registered_via,registration_init_time,is_churn,Cluster
0,P/Jw4MNLvfODOLBMXnuprsWoTDk2Tvez9k9uYPUDOH4=,20,0,NaN,3,2013-03-31,0,2
1,spXp+gHdPnsyCXn4oRRXdKJwfVmcoTc7eArnmtbidS8=,17,0,NaN,3,2013-07-07,0,2
2,BZugFTI+gk693KTVjzn4H+uENNjuOfoafXc73bkehQ0=,10,0,NaN,3,2013-05-02,0,0
3,TRdjEyUSvy9ou8lgD5/LPuOZSJwKTiwoNXNJu6CQD0k=,3,0,NaN,3,2013-02-17,0,1
4,hgtc2KqC/e6wl+Opd/FlZu7jGinfHkxTJ3Mi76PfjbY=,21,0,NaN,3,2013-04-02,1,1

### <font color=purple>Inspect Payment Plan Days</font>

In contractural settings, how often what one pays is critical in determining lifetime value. Let's look at our current use-case to see what payment plan periods are being utilized by our users. As this project is taking place at the same time of our Churn and initial Customer Segmentation projects, we will be observing all data through January 2016

In [7]:
# Payment plan days distribution
transactions[transactions['transaction_date'] < datetime.datetime(2016,1,31)]['payment_plan_days'].value_counts().head(10)

30     7131589
0       870121
31      766608
7       200128
410      75763
195      69209
180      28685
10       27860
395       9808
100       9361
Name: payment_plan_days, dtype: int64

Before 2016 KKBox made a switch from 31 day payments to 30 day payments. For the simplicity, we will be combining these values.

In [8]:
# Make a transaction DF just for users who have transaction dates beyond 2016
transactions = transactions[transactions['transaction_date'] < datetime.datetime(2016,1,31)]

# Convert 31 to 30
transactions['payment_plan_days'] = transactions['payment_plan_days'].apply(lambda x: 30 if x == 31 else x)

## Feature Engineering

### <font color=purple>*Do all users have a single unique Payment Plan Period?*</font>

Next we want to determine whether or not a user has had a single recurring payment plan period through his lifetime. Aside from comparing unique payment plan periods to each other, it would also be interesting to determine whether users who have had multiple payments have a higher LTV than those who have not.

In [9]:
# Members vs # of Unique payment_plan_days
temp = transactions.groupby('msno')['payment_plan_days'].nunique().reset_index()
temp['payment_plan_days'].value_counts()

1    990760
2    545794
3     25401
4      1412
5        88
6        10
8         1
7         1
Name: payment_plan_days, dtype: int64

Here we see that some users do not have an exclusive payment plan and have switched from plan to plan over their lifetime. In order to have an accurate analysis we will segment across users with single plans vs users with various plans. Let's add these values as a new feature.

In [10]:
# Add unique_payment_plan_days to Master DF
temp.columns = ['msno', 'unique_payment_plans']
clv_data_2016 = pd.merge(clv_data_master, temp, on='msno', how='inner')

### <font color=purple>*Add Payment Plan: Days, List Price, Discount*</font>

In [11]:
# Add payment plan days to master df
temp = transactions.groupby('msno')['payment_plan_days'].median().reset_index()
clv_data_2016 = pd.merge(clv_data_2016, temp, on='msno')

In [12]:
# Add payment plan price to master df
temp = transactions.groupby('msno')['plan_list_price'].median().reset_index()
clv_data_2016 = pd.merge(clv_data_2016, temp, on='msno')

In [13]:
# Add discount categorical to master df
temp = transactions.groupby('msno')[['plan_list_price','actual_amount_paid']].sum().reset_index()
temp['discount'] = temp['plan_list_price'] - temp['actual_amount_paid']
temp['discount'] = temp['discount'].apply(lambda x: 'Discount' if x > 0 else 'No Discount')
clv_data_2016 = pd.merge(clv_data_2016, temp[['msno','discount']], on='msno')

### <font color=purple>Calculate Tenure</font>

Now we will calculate membership tenure. As our dataset is from January 1st 2016 to March 31st 2017, we will calculate tenure as ***March 31st 2017 - Earliest Transaction Date***.

In [14]:
# Add discount categorical to master df
temp = transactions.groupby('msno')['transaction_date'].min().reset_index()
temp['tenure'] = (datetime.datetime(2016,1,31) - temp['transaction_date']).dt.days
clv_data_2016 = pd.merge(clv_data_2016, temp[['msno','tenure']], on='msno')

In [15]:
clv_data_2016

,msno,city,bd,gender,registered_via,registration_init_time,is_churn,Cluster,unique_payment_plans,payment_plan_days,plan_list_price,discount,tenure
0,P/Jw4MNLvfODOLBMXnuprsWoTDk2Tvez9k9uYPUDOH4=,20,0,NaN,3,2013-03-31,0,2,1,30.0,149.0,No Discount,206
1,spXp+gHdPnsyCXn4oRRXdKJwfVmcoTc7eArnmtbidS8=,17,0,NaN,3,2013-07-07,0,2,2,30.0,149.0,No Discount,365
2,BZugFTI+gk693KTVjzn4H+uENNjuOfoafXc73bkehQ0=,10,0,NaN,3,2013-05-02,0,0,2,30.0,149.0,No Discount,382
3,TRdjEyUSvy9ou8lgD5/LPuOZSJwKTiwoNXNJu6CQD0k=,3,0,NaN,3,2013-02-17,0,1,2,30.0,149.0,No Discount,391
4,hgtc2KqC/e6wl+Opd/FlZu7jGinfHkxTJ3Mi76PfjbY=,21,0,NaN,3,2013-04-02,1,1,1,360.0,1200.0,No Discount,370
...,...,...,...,...,...,...,...,...,...,...,...,...,...
691857,XklWHbcwc7VOL6+7sCaenEn6nWtByYGCpjH58sF8sUM=,22,35,female,9,2006-01-18,0,1,2,30.0,149.0,No Discount,389
691858,YK5i9utlAk/l1mnDfLhWZ4WKu5iJZNgSo+KGghvZsl0=,22,35,female,9,2010-12-11,0,0,2,30.0,149.0,No Discount,395
691859,vzVYSlTRwPwbEs7oRmtDVjatLW1ysfvQLSrVl4nf+2A=,22,36,female,9,2008-04-10,0,1,2,30.0,149.0,No Discount,371
691860,njCNPbSae66qT50SU6GHH2YdofKfmw0ajT/dh/3m8KU=,22,38,female,9,2005-03-23,0,0,2,0.0,0.0,No Discount,306
691861,56irqA+fgxA2rUOv4RWBjhihDVz4pbBCq2tPTMBlxDQ=,22,40,female,9,2004-09-17,0,0,2,30.0,149.0,No Discount,365

## Export Data

In [16]:
clv_data_2016.to_csv('D:/J-5 Local/CLV_Jan2016.csv')